/*Шрифты*/

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

/*Main*/

* {
    margin: 0;
    padding: 0;
  }

.container{
    max-width: 1240px;
    margin: 0px auto;
    padding: 0px auto;
    box-sizing: border-box;
}

  /*Header*/

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    position: relative;
  }

.header__logo {
    height: 30px;
    width: 10.9%;
    align-self: center;
}

/* .lopa {
    content: "";
    background-image: url(img/loop.png);
    z-index: 100;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -200px;
} */

.header__input {
    width: 61%;
    height: 40px;
    padding: 0px 40px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    color: #BBC4D6;
    font-size: 14px;
    align-self: flex-start;
}

.header__user {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 10.4%;
}

.header__username {
    font-family: 'Roboto';
    font-size: 14px;
    color: #768298;
    align-self: center;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

  /*Body*/

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
}

.partners {
    width: 100%;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -15px;
}

.partners__item {
      /* width: 23%; */
    width: calc(24.84% - 30px);
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    position: relative;
    margin: 15px;
    display: flex;
  }

.partners__link {
    position: absolute;
}
